<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="lua_commission" frontName="lua_commission">
            <module name="Lua_Commission"/>
        </route>
    </router>
</config>